
<app-loader></app-loader>

<div *ngIf="listAmbiente.length > 0" >


<div>
<h2 style="text-align: center;margin: 15px 15px;">
  Ambiente de Desenvolvimento  
</h2>

<div *ngIf="exibirStatus" class="status-container">
  <div class="alert alert-{{carteiraDeGerentes}}" role="danger">
    <p>Limpeza de cache - Carteira de Gerentes - {{stageCache}} - {{mensagemCarteiraDeGerentes}}</p>
  </div>
  <div class="alert alert-{{fundosRelacao}}" role="danger">
    <p>Limpeza de cache - Fundos Relação - {{stageCache}} - {{mensagemFundosRelacao}}</p>
  </div>
  <div class="alert alert-{{listaDeProdutos}}" role="danger">
    <p>Limpeza de cache - Lista de Produtos - {{stageCache}} - {{mensagemListaDeProdutos}}</p>
  </div>  
</div>

</div>
<section class="tabela" >
  <div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Ambiente</th>
        <th scope="col">Branch</th>
        <th scope="col">Nº Chamado</th>
        <th scope="col">Descrição</th>
        <th scope="col">Desenvolvedor</th>
        <th scope="col">Negocio</th>
        <th scope="col">Situação</th>
        <th colspan=2 style="text-align: center;" >Ação</th>   
        <th scope="col" style="text-align: center;">Cache</th>     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ambiente of listAmbiente">
        <td>
          <a href="{{ambiente.link}}" target="_blank">{{ambiente.nome}}</a>
        </td>
        <td>
          <a href="https://bitbucket.daycoval.dev.br/projects/PI/repos/portalinvestimentos/browse?at=refs%2Fheads%2F{{ambiente.branch}}" target="_blank">{{ambiente.branch}}</a>
        </td>
        <td>{{ambiente.numeroChamado}}</td>
        <td>{{ambiente.descricao}}</td>
        <td>{{ambiente.desenvolvedor}}</td>
        <td>{{ambiente.negocio}}</td>
        <td>
          <app-status-component [codigo]="ambiente.situacaoId" [situacao]="ambiente.situacao" ></app-status-component>
        </td>
        <td style="text-align: center;vertical-align: middle;">
          <button style="margin-right: 0px;" type="button" class="btn btn-primary btn-sm" (click)="openEditarModal(ambiente)">Editar</button>   
          </td>
          <td style="text-align: center;vertical-align: middle;">               
          <button style="margin-right: 0px;" type="button" class="btn btn-danger btn-sm" (click)="openLiberarModal(ambiente.id)">Liberar</button>
        </td>
        <td style="text-align: center;vertical-align: middle;">
          <button type="button" class="btn btn-warning btn-sm" [disabled]="habilitarBotao" (click)="LimparStage(ambiente)">Limpar</button>
        </td>
      </tr>     
    </tbody>
  </table>
</div>
</section>

 <section class="tabela" >
<h2 style="text-align: center;margin: 15px 15px;">
  Ambiente de Qa  
</h2>
<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Link Qa</th>
      <th scope="col">Release</th>
      <th scope="col">Requisição GMUD</th>
      <!-- <th scope="col">Conteudo do Pacote</th> -->
      <th scope="col">Desenvolvedor</th>
      <th scope="col">Negocio</th>
      <th scope="col">Data Implantação</th>
      <th scope="col" style="text-align: center;" >Ação</th>    
      <th scope="col" style="text-align: center;" >Cache</th>    
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="vertical-align: middle;">
        <div>
          <a href="http://sdaysp06qa003:8080/" target="_blank">Stage</a>
        </div>
        <div style="margin-top: 15px;">
      <a href="https://portalinvestimentosqa.daycoval.dev.br/" target="_blank">Stage DMZ</a>
    </div>
      </td>
    <td style="vertical-align: middle;" >{{listPacoteQa.nome}}</td>
    <td style="vertical-align: middle;">{{listPacoteQa.requisicao}}</td>
    <!-- <td>
      <ul *ngFor="let pacote of listPacoteQa.pacote; let i=index" style="margin-left: 20px;">
        <li>
          <strong>{{pacote.branch}} </strong></li>
    </ul>
    </td> -->
    <td style="vertical-align: middle;" >{{listPacoteQa.desenvolvedor}}</td>
    <td style="vertical-align: middle;" >{{listPacoteQa.negocio}}</td>
    <td style="vertical-align: middle;" >{{listPacoteQa.dataImplantacao}}</td>
    <td style="text-align: center;vertical-align: middle;">
      <button style="margin-right: 15px;"  type="button" class="btn btn-outline-primary btn-sm"  (click)="openEditarModalQa(listPacoteQa)" >Editar</button>                  
      <button type="button" class="btn btn-outline-danger btn-sm" (click)="openLiberarModalQa()">Liberar</button>
    </td>
    <td style="text-align: center;vertical-align: middle;">
      <button type="button" class="btn btn-outline-warning btn-sm" [disabled]="habilitarBotao" (click)="LimparStageQa()">Limpar</button>
    </td>
  </tr>
  </tbody>
  </table>
</div>
</section>
</div>

<div class="modal fade" id="myEditarModal"  tabindex="-1"  aria-labelledby="exampleModalLabel"  aria-hidden="true">
  <form [formGroup]="form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Ambiente</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <label>
              <strong>              
              Branch
            </strong>
              </label>
              <input 
              formControlName="Branch"
               type="text" 
               class="form-control" 
               placeholder="Nº da Branch" 
               aria-label="Last name" >
          </div>
          <div class="col">
            <label>
              <strong>
                Nº Chamado
              </strong>
            </label>
            <input  
            formControlName="NumeroChamado"
            type="text" 
            class="form-control" 
            placeholder="Nº do Chamado" 
            aria-label="Last name">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>
              <strong>
              Descrição
            </strong>
            </label>
            <input 
            formControlName="Descricao"
            type="text" 
            class="form-control" 
            placeholder="Descrição" 
            aria-label="First name" >
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>
              <strong>
              Responsavel - Dev
            </strong>
            </label>
            <select class="form-select"
            formControlName="ResponsavelDev">
              <option *ngFor="let dev of listDesenvolvedores" [value]="dev.id" >
              {{dev.nome}}
            </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>
              <strong>
              Responsavel - Negocio
            </strong>
            </label>
            <select class="form-select"
            formControlName="ResponsavelNeg">
              <option *ngFor="let neg of listNegocio" [value]="neg.id" >
              {{neg.nome}}
            </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>
              <strong>
              Situação do Chamado
            </strong>
            </label>
            <select class="form-select"
            formControlName="Status">
              <option *ngFor="let sit of listSituacao" [value]="sit.id" >
              {{sit.descricao}}
            </option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button 
        type="button" 
        class="btn btn-secondary" 
        data-bs-dismiss="modal" 
        arial-label="Close" 
        (click)="FecharModal()">
          Fechar
        </button>
        <button 
        type="button" 
        class="btn btn-primary" 
        (click)="EditarAmbiente()">
          Salvar
        </button>
      </div>
    </div>
  </div>
</form>
</div>

<div class="modal fade modal-xl" id="myEditarModalQa"  tabindex="-1"  aria-labelledby="exampleModalQaLabel"  aria-hidden="true">
  <form [formGroup]="formQa">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalQaLabel">Editar Ambiente - Qa</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body gap-2 d-flex flex-column">
        <div class="row">
          <div class="col">
            <label>
              <strong>              
              Release
            </strong>
              </label>
              <input 
              formControlName="nome"
               type="text" 
               class="form-control" 
               placeholder="Nº da Release" 
               aria-label="Last name" >
          </div>
          <div class="col">
            <label>
              <strong>
                Requisição GMUD
              </strong>
            </label>
            <input  
            formControlName="requisicao"
            type="text" 
            class="form-control" 
            placeholder="Nº da Requisição" 
            aria-label="Last name">
          </div>
        </div>
<div class="row">  
  <div class="col">
    <label>
      <strong>
       Adicionar conteudo ao Pacote
      </strong>
    </label>
  <input 
  formControlName="branch"
   type="text" 
   class="form-control" 
   placeholder="Nº da branch para ser associada" 
   aria-label="Last name" >
  </div>
   <div class="col">
    <label><strong>Responsavel - Negocio</strong></label>
    <select class="form-select"
    formControlName="responsavelNegQaTeste">
      <option *ngFor="let neg of listNegocio" [value]="neg.id" >
      {{neg.nome}}
    </option>
    </select>
  </div>
  <div class="col">
    <label>
      <strong>
      Situação do Chamado
    </strong>
    </label>
    <select class="form-select"
    formControlName="statusTeste">
      <option *ngFor="let sit of listSituacao" [value]="sit.id" >
      {{sit.descricao}}
    </option>
    </select>
  </div>
  <div class="col mt-4">
    <button 
    [disabled]="isButtonDisabled()"
    type="button" 
    class="btn btn-primary" 
    (click)="AssociarChamadoQa()">
      Associar
    </button>
  </div>
</div>
                  
<div class="row" >
  <label>Chamados associados</label>
 
  <div class="container" *ngIf="listaPacote.length">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Chamado</th>
          <th scope="col">Responsavel</th>
          <th scope="col">Situação</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pacote of listaPacote; let i=index">
          <td>{{pacote.branch}}</td>
          <td>{{pacote.negocioTeste}}</td>
          <td>
            <app-status-component [codigo]="pacote.situacaoId" [situacao]="pacote.situacao">
            </app-status-component>
            </td>
            <td>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="removerItem(i)"> Apagar </button>   
            </td>
        </tr>
        <!-- Add more <tr> elements here for more rows -->
      </tbody>
    </table>
  </div>  
</div>
        <div class="row">
          <div class="col">
            <label><strong>Responsavel - Dev</strong></label>
            <select class="form-select"
            formControlName="responsavelDevQa">
              <option *ngFor="let dev of listDesenvolvedores" [value]="dev.id" >
              {{dev.nome}}
            </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label><strong>Responsavel - Negocio</strong></label>
            <select class="form-select"
            formControlName="responsavelNegQa">
              <option *ngFor="let neg of listNegocio" [value]="neg.id" >
              {{neg.nome}}
            </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label><strong>Data de Implantação</strong></label>
            <input
             formControlName="dataImplantacao"
             class="form-control" 
             type="datetime-local"              
             >
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button 
        type="button" 
        class="btn btn-secondary" 
        data-bs-dismiss="modal" 
        arial-label="Close" 
        (click)="FecharModal()">
          Fechar
        </button>
        <button 
        type="button" 
        class="btn btn-primary" 
        (click)="EditarAmbienteQa()">
          Salvar
        </button>
      </div>
    </div>
  </div>
</form>
</div>

<div class="tabela">
  <h3 style="text-align: center;" >Acompanhamento dos Teste - Qa</h3>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">Chamado</th>                  
          <th scope="col">Responsável</th>
          <th>Situação</th>
          <th>Ação</th>
        </tr>      
    </thead>
    <tbody>
      <tr *ngFor="let pacote of listPacoteQa.pacote; let i=index" style="margin-left: 20px;">
        <td >
          {{pacote.branch}}
        </td>
        <td> {{pacote.negocioTeste}}</td>
        <td> 
          <app-status-component [codigo]="pacote.situacaoId" [situacao]="pacote.situacao">
          </app-status-component>
        </td>    
        <td>
          <button type="button" class="btn btn-primary btn-sm" >Editar</button>

        </td>    
      </tr>
    <tbody>
        


    <!-- <div *ngFor="let pacote of listPacoteQa.pacote; let i=index" style="margin-left: 20px;">
        <strong>{{pacote.branch}} </strong>
      </div> -->


<div class="modal fade" id="myLiberarModal"  tabindex="-1"  aria-labelledby="exampleModalLabel"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Liberar Ambiente</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
       <div class="titulo">
        <h2>Deseja liberar o ambiente ?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" arial-label="Close">
          Não
        </button>
        <button type="button" class="btn btn-primary" (click)="LiberarAmbiente()">
          Sim
        </button>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="myLiberarModalQa"  tabindex="-1"  aria-labelledby="exampleModalLabelQa"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelQa">Liberar Ambiente - Qa</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
       <div class="titulo">
        <h2>Deseja liberar o ambiente  de Qa?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" arial-label="Close">
          Não
        </button>
        <button type="button" class="btn btn-primary" (click)="LiberarAmbienteQa()">
          Sim
        </button>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="myLimparCacheModal"  tabindex="-1"  aria-labelledby="exampleModalLabelQa"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelQa">Limpar Cache </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
       <div class="titulo">
        <h3>Deseja Limpar o Cache do {{NomeStage}}</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" arial-label="Close">
          Não
        </button>
        <button type="button" class="btn btn-primary" (click)="Confirmar()">
          Sim
        </button>
      </div>
    </div>
  </div>
</div>
</div>


