<div class="modal fade" id="myLimparCacheModal"  tabindex="-1"  aria-labelledby="exampleModalLabelQa"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelQa">Limpar Cache </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
         <div class="titulo">
          <h3>Deseja Limpar o Cache do 
            {{NomeStage}}
          </h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" arial-label="Close">
            Não
          </button>
          <button type="button" class="btn btn-primary" (click)="Confirmar()">
            Sim
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>