<div class="modal fade" id="myLiberarModal"  tabindex="-1"  aria-labelledby="exampleModalLabel"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Liberar Ambiente</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
         <div class="titulo">
          <p>{{liberarAmbiente.titulo}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" arial-label="Close">
            Não
          </button>
          <button type="button" class="btn btn-primary" (click)="LiberarAmbiente(liberarAmbiente.stage)">
            Sim
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
  