
.classe-concluido {
    color: green;
    font-weight: bold;
  }
  
  .classe-com-erro {
    color: red;
    font-weight: bold;
  }
  
  .classe-analise-dev {
    color: blue;
    font-weight: bold;
  }
  
  .classe-pendente-teste{
    color: purple;
    font-weight: bold;
  }
  
  .classe-em-validacao{
    color: yellowgreen;
    font-weight: bold;
  }
  