.acao{
    margin-top: 15px;
    text-align: right;
}

.box{
    background: whitesmoke;
    margin-top: 15px;
    border: solid gray 1px;
    border-radius: 10px;
    padding-bottom: 15px;
}

.mensagem{
    margin-top: 15px;
}