<div class="titulo">
  <h1>
    Cache - Serviços
  </h1>
  <hr>
</div>
<div class="menu">

  <div class="card" style="width: 18rem;">
    <div *ngIf="apiCatalog == 'consulta' && showCard" style="text-align: center;">
      <div class="alert alert-info" role="alert">
        <p>{{mensagem}}</p>
      </div>
    </div>
    <div *ngIf="apiCatalog == 'sucesso' && showCard" style="text-align: center;">
      <div class="alert alert-success" role="alert">
        <p>{{mensagem}}</p>
      </div>
    </div>
    <div *ngIf="apiCatalog =='erro' && showCard" style="text-align: center;">
      <div class="alert alert-danger" role="alert">
        <p>{{mensagem}}</p>
      </div>
    </div>
    <img class="card-img-top" src="../../assets/ambiente/limpezacache1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Api - Catalogo Renda Fixa</h5>
      <p class="card-text">Esta funcionalidade realiza a atualização do cache do Catalogo de Renda Fixa</p>
      <div class="d-flex flex-column align-items-center gap-3">
        <select class="form-select w-auto" [(ngModel)]="opcaoSelecionada">
          <option value="" disabled selected>Selecione uma opção</option>
          <option value="0">Cache de Gerentes</option>
          <option value="1">Cache de Lastros</option>
          <option value="2">Cache de Produtos Bancários</option>
          <option value="3">Cache de Produtos Privados</option>
          <option value="4">Todos</option>
        </select>

        <button class="btn btn-primary" [disabled]="opcaoSelecionada === ''" (click)="limparCache(opcaoSelecionada)">
          Limpar Cache
        </button>
      </div>
    </div>
  </div>
</div>
<div style="text-align: center;" *ngIf="spinner()">
  <div class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>