<div class="container">
  <div class="card">
    <div class="card-header">
      Bem vindo !
    </div>
    <div class="card-body">
      <h5 class="card-title">Portal de Investimentos Utility</h5>
      <p class="card-text">Web site destinado para auxiliar na validações do Portal de Investimentos , para mais informações acesse nossa Wiki atraves do link <a href="http://daycowiki/books/portal-de-investimentos">DaycoWiki PI</a></p>
    </div>
  </div>
  <hr>
  <div class="menu">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/ambiente/limpezacache2.jpg" alt="Card image cap" height="206">
    <div class="card-body">
      <h5 class="card-title">Limpar Cache</h5>
      <p class="card-text">Esta funcionalidade realiza a limpeza de cache dos Stage do Portal de Investimentos</p>
      <div style="text-align: center;">
      <a type="button" routerLink="/dashboard" class="btn btn-primary btn-lg"><span>Acessar</span></a>     
    </div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/ambiente/gestor.jfif" alt="Card image cap" height="206">
    <div class="card-body">
      <h5 class="card-title">Gestores de Fundos</h5>
      <p class="card-text">Esta funcionalidade obtem toda a lista de gestores de fundos cadastrados na driveamnet</p>
      <div style="text-align: center;">
      <a routerLink="/gestor" class="btn btn-primary btn-lg"><span>Acessar</span></a>     
    </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/ambiente/fundos.jpg" alt="Card image cap" height="206">
    <div class="card-body">
      <h5 class="card-title">Lista de Fundos</h5>
      <p class="card-text">Esta funcionalidade obtem toda a lista de fundos que estão cadastrados na driveamnet</p>
      <div style="text-align: center;">
      <a routerLink="/fundos" class="btn btn-primary btn-lg"><span>Acessar</span></a>     
    </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/ambiente/verificacao.jpg" alt="Card image cap" height="206">
    <div class="card-body">
      <h5 class="card-title">Monitoramento</h5>
      <p class="card-text">Esta funcionalidade obtem os status das integrações do Portal de Investimentos</p>
      <div style="text-align: center;">
      <a routerLink="/monitor" class="btn btn-primary btn-lg"><span>Monitorar</span></a>     
    </div>
    </div>
  </div>
</div>
</div>
