h3{
    font-size: 25px;
    margin: 10px 10px;
}

.acesso{
    padding: 10px 10px;
    border: solid gray 1px;
    border-radius: 10px;
}

.salvar{
    width: 150px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.disabled-select {
    pointer-events: none;
    background-color:white; 
    color: brown;
  }

.mensagem{
    margin-top : 15px;   
}


  